# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env
.env.*

# Testing
.pytest_cache/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Log
learning_log_Exmple.txt